body {
    background-image: url(https://source.unsplash.com/user/erondu);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;  
    background-attachment: fixed;

  }